<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"xoboro"}</customFields>
      <includeMdc>true</includeMdc>
    </encoder>
  </appender>

  <logger name="io.netty" level="INFO" />

  <root level="${XOBORO_LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
